Package: com.haoict.instanoads
Name: Instagram No Ads
Depends: mobilesubstrate, preferenceloader, com.haoict.libhdev (>= 4.8.1), firmware (>= 12), firmware(>= 12.2) | ${LIBSWIFT}
Version: 2.10.0
Architecture: iphoneos-arm
Description: Free & Open Source Tweak for Instagram
 Free & Open Source Tweak for Instagram
 Change log: https://github.com/haoict/instagram-no-ads/releases
 .
 Features:
 - Remove Ads (New Feeds, Stories & Reels)
 - Can save media (Photos, Videos, IGTV, Stories, Reels, press and hold to show download option)
 - Can Save HD Profile Picture (Press and hold to show download option)
 - Show like count
 - Determine if user is following you
 - Disable DM seen and Story seen receipt
 - Unlimited Replay Direct Messages
 - Like confirmation
 - Add App lock (use faceid/touchid to unlock)
 - Support iOS 12 - 14 & latest Instagram version (>= 178.0)
 .
 I work very hard to make good, free and open source tweaks for everyone
 If you want to support, you can buy me a coffee at https://www.paypal.me/haoict
 .
 Thanks a ton
Maintainer: Hao Nguyen
Author: Hao Nguyen
Section: Tweaks
