<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>headerCellClass</key>
        <string>HPSHeaderImageCell</string>
        <key>image</key>
        <string>/Library/PreferenceBundles/INAPref.bundle/Banner.jpg</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>MAIN_PREFERENCES</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>noads</string>
        <key>label</key>
        <string>NO_ADS</string>
        <key>subtitle</key>
        <string>REMOVE_ADS_IN_NEWS_FEED_AND_STORIES</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>canSaveMedia</string>
        <key>label</key>
        <string>CAN_SAVE_MEDIA</string>
        <key>subtitle</key>
        <string>PRESS_AND_HOLD_MEDIA_TO_SHOW_DOWNLOAD_OPTION</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>canSaveHDProfilePicture</string>
        <key>label</key>
        <string>CAN_SAVE_HD_PROFILE_PICTURE</string>
        <key>subtitle</key>
        <string>PRESS_AND_HOLD_PROFILE_PICTURE_TO_DOWNLOAD</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>showLikeCount</string>
        <key>label</key>
        <string>SHOW_LIKE_COUNT</string>
        <key>subtitle</key>
        <string>Eg: Liked by thousands of people (5234)</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>determineIfUserIsFollowingYou</string>
        <key>label</key>
        <string>DETERMINE_IF_USER_IS_FOLLOWING_YOU</string>
        <key>subtitle</key>
        <string>CHECK_IN_USER_PROFILE_PAGE</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>disableDirectMessageSeenReceipt</string>
        <key>label</key>
        <string>DISABLE_DIRECT_MESSAGE_SEEN_RECEIPT</string>
        <key>subtitle</key>
        <string>READ_DIRECT_MESSAGE_WITHOUT_OTHERS_KNOWING</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>disableStorySeenReceipt</string>
        <key>label</key>
        <string>DISABLE_STORY_SEEN_RECEIPT</string>
        <key>subtitle</key>
        <string>SEE_STORY_WITHOUT_OTHERS_KNOWING</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>unlimitedReplayDirectMessage</string>
        <key>label</key>
        <string>UNLIMITED_REPLAY_DIRECT_MESSAGES</string>
        <key>subtitle</key>
        <string>UNLIMITED_REPLAY_DIRECT_MESSAGES_DESC</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>cellClass</key>
        <string>HPSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>likeConfirmation</string>
        <key>label</key>
        <string>LIKE_CONFIRMATION</string>
        <key>subtitle</key>
        <string>SHOW_CONFIRMATION_BEFORE_YOU_LIKE_SOMETHING</string>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <!-- APP LOCK PREFS -->
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>APP_LOCK_PREFERENCES</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>cellClass</key>
        <string>HPSLinkCell</string>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>key</key>
        <string>appLockSetting</string>
        <key>label</key>
        <string>APP_LOCK</string>
        <key>detail</key>
        <string>HPSListItemsController</string>
        <key>validTitles</key>
        <array>
          <string>DISABLE</string>
          <string>ONLY_WHEN_APP_STARTS</string>
          <string>AFTER_I_LEAVE_THE_APP</string>
        </array>
        <key>validValues</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
        </array>
        <key>default</key>
        <integer>0</integer>
        <key>PostNotification</key>
        <string>com.haoict.instanoadspref/PrefChanged</string>
      </dict>

      <!-- OTHERS PREFS -->
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>OTHER_PREFERENCES</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>cellClass</key>
        <string>HPSLinkCell</string>
        <key>defaults</key>
        <string>com.haoict.instanoadspref</string>
        <key>label</key>
        <string>RESET_SETTINGS</string>
        <key>action</key>
        <string>resetSettings:</string>
      </dict>

      <!-- Support Me -->
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>SUPPORT_ME</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>cellClass</key>
        <string>HPSLinkCell</string>
        <key>label</key>
        <string>Hao Nguyen 👨🏻‍💻</string>
        <key>subtitle</key>
        <string>@haoict</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://twitter.com/haoict</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>cellClass</key>
        <string>HPSLinkCell</string>
        <key>label</key>
        <string>DONATION</string>
        <key>subtitle</key>
        <string>BUY_ME_A_COFFEE</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://paypal.me/haoict</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>cellClass</key>
        <string>HPSLinkCell</string>
        <key>label</key>
        <string>FEATURE_REQUEST</string>
        <key>subtitle</key>
        <string>SEND_ME_AN_EMAIL_WITH_YOUR_REQUEST</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>mailto:hao.ict56@gmail.com?subject=Instagram%20Feature%20Request</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>cellClass</key>
        <string>HPSLinkCell</string>
        <key>label</key>
        <string>SOURCE_CODE</string>
        <key>subtitle</key>
        <string>Github</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://github.com/haoict/instagram-no-ads</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>cellClass</key>
        <string>HPSLinkCell</string>
        <key>label</key>
        <string>FOUND_A_BUG</string>
        <key>subtitle</key>
        <string>LEAVE_A_BUG_REPORT_ON_GITHUB</string>
        <key>action</key>
        <string>openURL:</string>
        <key>url</key>
        <string>https://github.com/haoict/instagram-no-ads/issues/new</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Instagram No Ads, Made With ❤️</string>
        <key>isStaticText</key>
        <true/>
      </dict>

    </array>
    <key>title</key>
    <string>Instagram No Ads</string>
  </dict>
</plist>
